/* src/components/UserReviews.css */

.reviews-container {
    background-color: #FAFAFA; /* Very Light Gray */
    padding: 40px 20px;
    border-radius: 12px;
    margin-bottom: 24px;
  }
  
  .reviews-container h2 {
    color: #1D3557; /* Primary Text Color */
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
  }
  
  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  
  .filters > * {
    margin: 10px;
  }
  
  .review-card {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    height: 450px;
    flex: 0 0 auto;
    margin-right: 20px;
    background-color: #FFFFFF; /* White */
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .user-details {
    margin-left: 12px;
  }
  
  .product-info {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    color: #1D3557; /* Primary Text Color */
  }
  
  .review-content {
    flex-grow: 1;
    margin-top: 16px;
    overflow: hidden;
    color: #1D3557; /* Primary Text Color */
  }
  
  .review-content p {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .helpful-count {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .thumbs-icons {
    display: flex;
  }
  
  .thumb-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 8px;
    font-size: 20px;
    color: #457B9D; /* Secondary Accent Color */
  }
  
  .thumb-button:hover {
    color: #1D3557; /* Primary Text Color */
  }
  
  .ant-rate {
    font-size: 16px;
    color: #E63946; /* Soft Red */
  }
  
  .ant-typography {
    font-family: 'Poppins', sans-serif;
    color: #1D3557; /* Primary Text Color */
  }
  
  @media (max-width: 768px) {
    .review-card {
      width: 250px;
      min-width: 250px;
      max-width: 250px;
    }
  }
  
  /* Filters Styling */
  .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  
  .filters > * {
    margin: 10px;
  }
  